<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (payment(); as paymentRef) {
      <div>
        <h2 data-cy="paymentDetailsHeading"><span>Payment</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ paymentRef.id }}</span>
          </dd>
          <dt><span>Gateway</span></dt>
          <dd>
            <span>{{ paymentRef.gateway }}</span>
          </dd>
          <dt><span>Gateway Payment Id</span></dt>
          <dd>
            <span>{{ paymentRef.gatewayPaymentId }}</span>
          </dd>
          <dt><span>Amount</span></dt>
          <dd>
            <span>{{ paymentRef.amount }}</span>
          </dd>
          <dt><span>Currency</span></dt>
          <dd>
            <span>{{ paymentRef.currency }}</span>
          </dd>
          <dt><span>Status</span></dt>
          <dd>
            <span>{{ paymentRef.status }}</span>
          </dd>
          <dt><span>Payment Method</span></dt>
          <dd>
            <span>{{ paymentRef.paymentMethod }}</span>
          </dd>
          <dt><span>Created Date</span></dt>
          <dd>
            <span>{{ paymentRef.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Deleted</span></dt>
          <dd>
            <span>{{ paymentRef.deleted }}</span>
          </dd>
          <dt><span>Modified Date</span></dt>
          <dd>
            <span>{{ paymentRef.modifiedDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Order Id</span></dt>
          <dd>
            <span>{{ paymentRef.orderId }}</span>
          </dd>
          <dt><span>Gateway Order Id</span></dt>
          <dd>
            <span>{{ paymentRef.gatewayOrderId }}</span>
          </dd>
          <dt><span>Failure Reason</span></dt>
          <dd>
            <span>{{ paymentRef.failureReason }}</span>
          </dd>
          <dt><span>Trademark</span></dt>
          <dd>
            @if (payment()!.trademark) {
              <div>
                <a [routerLink]="['/trademark', payment()!.trademark?.id, 'view']">{{ paymentRef.trademark?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/payment', paymentRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
