<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (userProfile(); as userProfileRef) {
      <div>
        <h2 data-cy="userProfileDetailsHeading"><span>User Profile</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ userProfileRef.id }}</span>
          </dd>
          <dt><span>Created Date</span></dt>
          <dd>
            <span>{{ userProfileRef.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Modified Date</span></dt>
          <dd>
            <span>{{ userProfileRef.modifiedDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Deleted</span></dt>
          <dd>
            <span>{{ userProfileRef.deleted }}</span>
          </dd>
          <dt><span>First Name</span></dt>
          <dd>
            <span>{{ userProfileRef.firstName }}</span>
          </dd>
          <dt><span>Last Name</span></dt>
          <dd>
            <span>{{ userProfileRef.lastName }}</span>
          </dd>
          <dt><span>Active</span></dt>
          <dd>
            <span>{{ userProfileRef.active }}</span>
          </dd>
          <dt><span>Email</span></dt>
          <dd>
            <span>{{ userProfileRef.email }}</span>
          </dd>
          <dt><span>Phone Number</span></dt>
          <dd>
            <span>{{ userProfileRef.phoneNumber }}</span>
          </dd>
          <dt><span>Address Line 1</span></dt>
          <dd>
            <span>{{ userProfileRef.addressLine1 }}</span>
          </dd>
          <dt><span>Address Line 2</span></dt>
          <dd>
            <span>{{ userProfileRef.addressLine2 }}</span>
          </dd>
          <dt><span>City</span></dt>
          <dd>
            <span>{{ userProfileRef.city }}</span>
          </dd>
          <dt><span>Zip Code</span></dt>
          <dd>
            <span>{{ userProfileRef.zipCode }}</span>
          </dd>
          <dt><span>State</span></dt>
          <dd>
            <span>{{ userProfileRef.state }}</span>
          </dd>
          <dt><span>Utm Campaign</span></dt>
          <dd>
            <span>{{ userProfileRef.utmCampaign }}</span>
          </dd>
          <dt><span>Utm Source</span></dt>
          <dd>
            <span>{{ userProfileRef.utmSource }}</span>
          </dd>
          <dt><span>Utm Medium</span></dt>
          <dd>
            <span>{{ userProfileRef.utmMedium }}</span>
          </dd>
          <dt><span>Utm Content</span></dt>
          <dd>
            <span>{{ userProfileRef.utmContent }}</span>
          </dd>
          <dt><span>User</span></dt>
          <dd>
            <span>{{ userProfileRef.user?.id }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/user-profile', userProfileRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
