<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (employee()) {
      <div>
        <h2 data-cy="employeeDetailsHeading"><span>Employee</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ employee()!.id }}</span>
          </dd>
          <dt><span>Full Name</span></dt>
          <dd>
            <span>{{ employee()!.fullName }}</span>
          </dd>
          <dt><span>Phone Number</span></dt>
          <dd>
            <span>{{ employee()!.phoneNumber }}</span>
          </dd>
          <dt><span>Email</span></dt>
          <dd>
            <span>{{ employee()!.email }}</span>
          </dd>
          <dt><span>Created Date</span></dt>
          <dd>
            <span>{{ employee()!.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Modified Date</span></dt>
          <dd>
            <span>{{ employee()!.modifiedDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Deleted</span></dt>
          <dd>
            <span>{{ employee()!.deleted }}</span>
          </dd>
          <dt><span>Designation</span></dt>
          <dd>
            <span>{{ employee()!.designation }}</span>
          </dd>
          <dt><span>Joining Date</span></dt>
          <dd>
            <span>{{ employee()!.joiningDate | formatMediumDate }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/employee', employee()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
