<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (publishedTmPhonetics(); as publishedTmPhoneticsRef) {
      <div>
        <h2 data-cy="publishedTmPhoneticsDetailsHeading"><span>Published Tm Phonetics</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ publishedTmPhoneticsRef.id }}</span>
          </dd>
          <dt><span>Sanitized Tm</span></dt>
          <dd>
            <span>{{ publishedTmPhoneticsRef.sanitizedTm }}</span>
          </dd>
          <dt><span>Phonetic Pk</span></dt>
          <dd>
            <span>{{ publishedTmPhoneticsRef.phoneticPk }}</span>
          </dd>
          <dt><span>Phonetic Sk</span></dt>
          <dd>
            <span>{{ publishedTmPhoneticsRef.phoneticSk }}</span>
          </dd>
          <dt><span>Complete</span></dt>
          <dd>
            <span>{{ publishedTmPhoneticsRef.complete }}</span>
          </dd>
          <dt><span>Published Tm</span></dt>
          <dd>
            @if (publishedTmPhonetics()!.publishedTm) {
              <div>
                <a [routerLink]="['/published-tm', publishedTmPhonetics()!.publishedTm?.id, 'view']">{{
                  publishedTmPhoneticsRef.publishedTm?.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/published-tm-phonetics', publishedTmPhoneticsRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
