<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (lead(); as leadRef) {
      <div>
        <h2 data-cy="leadDetailsHeading"><span>Lead</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ leadRef.id }}</span>
          </dd>
          <dt><span>Full Name</span></dt>
          <dd>
            <span>{{ leadRef.fullName }}</span>
          </dd>
          <dt><span>Phone Number</span></dt>
          <dd>
            <span>{{ leadRef.phoneNumber }}</span>
          </dd>
          <dt><span>Email</span></dt>
          <dd>
            <span>{{ leadRef.email }}</span>
          </dd>
          <dt><span>City</span></dt>
          <dd>
            <span>{{ leadRef.city }}</span>
          </dd>
          <dt><span>Brand Name</span></dt>
          <dd>
            <span>{{ leadRef.brandName }}</span>
          </dd>
          <dt><span>Selected Package</span></dt>
          <dd>
            <span>{{ leadRef.selectedPackage }}</span>
          </dd>
          <dt><span>Tm Class</span></dt>
          <dd>
            <span>{{ leadRef.tmClass }}</span>
          </dd>
          <dt><span>Comments</span></dt>
          <dd>
            <span>{{ leadRef.comments }}</span>
          </dd>
          <dt><span>Contact Method</span></dt>
          <dd>
            <span>{{ { null: '', CALL: 'CALL', MESSAGE: 'MESSAGE', EMAIL: 'EMAIL' }[leadRef.contactMethod ?? 'null'] }}</span>
          </dd>
          <dt><span>Status</span></dt>
          <dd>
            <span>{{
              {
                null: '',
                CONVERTED: 'CONVERTED',
                NEW: 'NEW',
                DOCUMENTS_PENDING: 'DOCUMENTS PENDING',
                LOST: 'LOST',
                FOLLOW_UP: 'FOLLOW UP',
              }[leadRef.status ?? 'null']
            }}</span>
          </dd>
          <dt><span>Lead Source</span></dt>
          <dd>
            <span>{{ leadRef.leadSource }}</span>
          </dd>
          <dt><span>Assigned To</span></dt>
          <dd>
            @if (lead()!.assignedTo) {
              <div>
                <a [routerLink]="['/employee', lead()!.assignedTo?.id, 'view']">{{ leadRef.assignedTo?.fullName }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/lead', leadRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
      <div class="created-updated-text">
        <span *ngIf="leadRef.createdDate">Created on {{leadRef.createdDate | formatMediumDatetime}}</span> <span
          *ngIf="leadRef.modifiedDate">modified on {{leadRef.modifiedDate | formatMediumDatetime}}</span> 
      </div>
    }
  </div>
</div>
