<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (trademark(); as trademarkRef) {
      <div>
        <h2 data-cy="trademarkDetailsHeading"><span>Trademark</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ trademarkRef.id }}</span>
          </dd>
          <dt><span>Name</span></dt>
          <dd>
            <span>{{ trademarkRef.name }}</span>
          </dd>
          <dt><span>Details</span></dt>
          <dd>
            <span>{{ trademarkRef.details }}</span>
          </dd>
          <dt><span>Application No</span></dt>
          <dd>
            <span>{{ trademarkRef.applicationNo }}</span>
          </dd>
          <dt><span>Application Date</span></dt>
          <dd>
            <span>{{ trademarkRef.applicationDate | formatMediumDate }}</span>
          </dd>
          <dt><span>Agent Name</span></dt>
          <dd>
            <span>{{ trademarkRef.agentName }}</span>
          </dd>
          <dt><span>Agent Address</span></dt>
          <dd>
            <span>{{ trademarkRef.agentAddress }}</span>
          </dd>
          <dt><span>Proprietor Name</span></dt>
          <dd>
            <span>{{ trademarkRef.proprietorName }}</span>
          </dd>
          <dt><span>Proprietor Address</span></dt>
          <dd>
            <span>{{ trademarkRef.proprietorAddress }}</span>
          </dd>
          <dt><span>Head Office</span></dt>
          <dd>
            <span>{{
              { null: '', DELHI: 'DELHI', MUMBAI: 'MUMBAI', AHMEDABAD: 'AHMEDABAD', KOLKATA: 'KOLKATA', CHENNAI: 'CHENNAI' }[
                trademarkRef.headOffice ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span>Img Url</span></dt>
          <dd>
            <span>{{ trademarkRef.imgUrl }}</span>
          </dd>
          <dt><span>Tm Class</span></dt>
          <dd>
            <span>{{ trademarkRef.tmClass }}</span>
          </dd>
          <dt><span>Journal No</span></dt>
          <dd>
            <span>{{ trademarkRef.journalNo }}</span>
          </dd>
          <dt><span>Deleted</span></dt>
          <dd>
            <span>{{ trademarkRef.deleted }}</span>
          </dd>
          <dt><span>Usage</span></dt>
          <dd>
            <span>{{ trademarkRef.usage }}</span>
          </dd>
          <dt><span>Associated Tms</span></dt>
          <dd>
            <span>{{ trademarkRef.associatedTms }}</span>
          </dd>
          <dt><span>Trademark Status</span></dt>
          <dd>
            <span>{{ trademarkRef.trademarkStatus }}</span>
          </dd>
          <dt><span>Created Date</span></dt>
          <dd>
            <span>{{ trademarkRef.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Modified Date</span></dt>
          <dd>
            <span>{{ trademarkRef.modifiedDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Renewal Date</span></dt>
          <dd>
            <span>{{ trademarkRef.renewalDate | formatMediumDate }}</span>
          </dd>
          <dt><span>Type</span></dt>
          <dd>
            <span>{{
              { null: '', IMAGEMARK: 'IMAGEMARK', TRADEMARK: 'TRADEMARK', SOUNDMARK: 'SOUNDMARK' }[trademarkRef.type ?? 'null']
            }}</span>
          </dd>
          <dt><span>User Profile</span></dt>
          <dd>
            @if (trademark()!.userProfile) {
              <div>
                <a [routerLink]="['/user-profile', trademark()!.userProfile?.id, 'view']">{{ trademarkRef.userProfile?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/trademark', trademarkRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
