<div>
  <h2 id="page-heading" data-cy="TmAgentHeading">
    <span>Tm Agents</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tm-agent"
        [routerLink]="['/tm-agent/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Tm Agent</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (tmAgents?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Tm Agents found</span>
    </div>
  }

  @if (tmAgents && tmAgents.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fullName">
              <div class="d-flex">
                <span>Full Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="address">
              <div class="d-flex">
                <span>Address</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span>Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="modifiedDate">
              <div class="d-flex">
                <span>Modified Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="deleted">
              <div class="d-flex">
                <span>Deleted</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="companyName">
              <div class="d-flex">
                <span>Company Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="agentCode">
              <div class="d-flex">
                <span>Agent Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span>Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (tmAgent of tmAgents; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/tm-agent', tmAgent.id, 'view']">{{ tmAgent.id }}</a>
              </td>
              <td>{{ tmAgent.fullName }}</td>
              <td>{{ tmAgent.address }}</td>
              <td>{{ tmAgent.createdDate | formatMediumDatetime }}</td>
              <td>{{ tmAgent.modifiedDate | formatMediumDatetime }}</td>
              <td>{{ tmAgent.deleted }}</td>
              <td>{{ tmAgent.companyName }}</td>
              <td>{{ tmAgent.agentCode }}</td>
              <td>{{ tmAgent.email }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/tm-agent', tmAgent.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/tm-agent', tmAgent.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(tmAgent)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
