<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-trademark-token-heading" data-cy="TrademarkTokenCreateUpdateHeading">Create or edit a Trademark Token</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_tokenText">Token Text</label>
          <input type="text" class="form-control" name="tokenText" id="field_tokenText" data-cy="tokenText" formControlName="tokenText" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_tokenType">Token Type</label>
          <select class="form-control" name="tokenType" formControlName="tokenType" id="field_tokenType" data-cy="tokenType">
            <option [ngValue]="null"></option>
            @for (trademarkTokenType of trademarkTokenTypeValues; track $index) {
              <option [value]="trademarkTokenType">
                {{ { null: '', CORE: 'CORE', DESCRIPTIVE: 'DESCRIPTIVE', STOPWORD: 'STOPWORD', OTHER: 'OTHER' }[trademarkTokenType] }}
              </option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_position">Position</label>
          <input type="number" class="form-control" name="position" id="field_position" data-cy="position" formControlName="position" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_trademark">Trademark</label>
          <select
            class="form-control"
            id="field_trademark"
            data-cy="trademark"
            name="trademark"
            formControlName="trademark"
            [compareWith]="compareTrademark"
          >
            <option [ngValue]="null"></option>
            @for (trademarkOption of trademarksSharedCollection; track $index) {
              <option [ngValue]="trademarkOption">{{ trademarkOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
