<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (trademarkTokenFrequency(); as trademarkTokenFrequencyRef) {
      <div>
        <h2 data-cy="trademarkTokenFrequencyDetailsHeading"><span>Trademark Token Frequency</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ trademarkTokenFrequencyRef.id }}</span>
          </dd>
          <dt><span>Frequency</span></dt>
          <dd>
            <span>{{ trademarkTokenFrequencyRef.frequency }}</span>
          </dd>
          <dt><span>Word</span></dt>
          <dd>
            <span>{{ trademarkTokenFrequencyRef.word }}</span>
          </dd>
          <dt><span>Created Date</span></dt>
          <dd>
            <span>{{ trademarkTokenFrequencyRef.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Deleted</span></dt>
          <dd>
            <span>{{ trademarkTokenFrequencyRef.deleted }}</span>
          </dd>
          <dt><span>Modified Date</span></dt>
          <dd>
            <span>{{ trademarkTokenFrequencyRef.modifiedDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/trademark-token-frequency', trademarkTokenFrequencyRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
