<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (tmAgent(); as tmAgentRef) {
      <div>
        <h2 data-cy="tmAgentDetailsHeading"><span>Tm Agent</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ tmAgentRef.id }}</span>
          </dd>
          <dt><span>Full Name</span></dt>
          <dd>
            <span>{{ tmAgentRef.fullName }}</span>
          </dd>
          <dt><span>Address</span></dt>
          <dd>
            <span>{{ tmAgentRef.address }}</span>
          </dd>
          <dt><span>Created Date</span></dt>
          <dd>
            <span>{{ tmAgentRef.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Modified Date</span></dt>
          <dd>
            <span>{{ tmAgentRef.modifiedDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Deleted</span></dt>
          <dd>
            <span>{{ tmAgentRef.deleted }}</span>
          </dd>
          <dt><span>Company Name</span></dt>
          <dd>
            <span>{{ tmAgentRef.companyName }}</span>
          </dd>
          <dt><span>Agent Code</span></dt>
          <dd>
            <span>{{ tmAgentRef.agentCode }}</span>
          </dd>
          <dt><span>Email</span></dt>
          <dd>
            <span>{{ tmAgentRef.email }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/tm-agent', tmAgentRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
