<div>
  <jhi-filter></jhi-filter>
</div>
<div>
  <h2 id="page-heading" data-cy="PublishedTmHeading">
    <span>Published Tms</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-published-tm"
        [routerLink]="['/published-tm/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Published Tm</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (publishedTms?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Published Tms found</span>
    </div>
  }

  @if (publishedTms && publishedTms.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span>Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            
            <th scope="col" jhiSortBy="applicationNo">
              <div class="d-flex">
                <span>Application No</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="applicationDate">
              <div class="d-flex">
                <span>Application Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="agentName">
              <div class="d-flex">
                <span>Agent Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            
            <th scope="col" jhiSortBy="proprietorName">
              <div class="d-flex">
                <span>Proprietor Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            
            
            <th scope="col" jhiSortBy="tmClass">
              <div class="d-flex">
                <span>Tm Class</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="journalNo">
              <div class="d-flex">
                <span>Journal No</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            
            <th scope="col" jhiSortBy="trademarkStatus">
              <div class="d-flex">
                <span>Trademark Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (publishedTm of publishedTms; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/published-tm', publishedTm.id, 'view']">{{ publishedTm.id }}</a>
              </td>
              <td>{{ publishedTm.name }}</td>
              <td>{{ publishedTm.applicationNo }}</td>
              <td>{{ publishedTm.applicationDate | formatMediumDate }}</td>
              <td>{{ publishedTm.agentName }}</td>
              <td>{{ publishedTm.proprietorName }}</td>
              
              <td>{{ publishedTm.tmClass }}</td>
              <td>{{ publishedTm.journalNo }}</td>

                <td>{{ publishedTm.trademarkStatus }}</td>

            
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/published-tm', publishedTm.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/published-tm', publishedTm.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(publishedTm)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
