<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-payment-heading" data-cy="PaymentCreateUpdateHeading">Create or edit a Payment</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_gateway">Gateway</label>
          <input type="text" class="form-control" name="gateway" id="field_gateway" data-cy="gateway" formControlName="gateway" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_gatewayPaymentId">Gateway Payment Id</label>
          <input
            type="text"
            class="form-control"
            name="gatewayPaymentId"
            id="field_gatewayPaymentId"
            data-cy="gatewayPaymentId"
            formControlName="gatewayPaymentId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_currency">Currency</label>
          <input type="text" class="form-control" name="currency" id="field_currency" data-cy="currency" formControlName="currency" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_paymentMethod">Payment Method</label>
          <input
            type="text"
            class="form-control"
            name="paymentMethod"
            id="field_paymentMethod"
            data-cy="paymentMethod"
            formControlName="paymentMethod"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdDate">Created Date</label>
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_deleted">Deleted</label>
          <input type="checkbox" class="form-check" name="deleted" id="field_deleted" data-cy="deleted" formControlName="deleted" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_modifiedDate">Modified Date</label>
          <div class="d-flex">
            <input
              id="field_modifiedDate"
              data-cy="modifiedDate"
              type="datetime-local"
              class="form-control"
              name="modifiedDate"
              formControlName="modifiedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_orderId">Order Id</label>
          <input type="text" class="form-control" name="orderId" id="field_orderId" data-cy="orderId" formControlName="orderId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_gatewayOrderId">Gateway Order Id</label>
          <input
            type="text"
            class="form-control"
            name="gatewayOrderId"
            id="field_gatewayOrderId"
            data-cy="gatewayOrderId"
            formControlName="gatewayOrderId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_failureReason">Failure Reason</label>
          <input
            type="text"
            class="form-control"
            name="failureReason"
            id="field_failureReason"
            data-cy="failureReason"
            formControlName="failureReason"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_purpose">Purpose</label>
          <select class="form-control" name="purpose" formControlName="purpose" id="field_purpose" data-cy="purpose">
            <option [ngValue]="null"></option>
            @for (paymentPurpose of paymentPurposeValues; track $index) {
              <option [value]="paymentPurpose">
                {{ { null: '', PROFESSIONAL_FEES: 'PROFESSIONAL_FEES', GOVT_FEES: 'GOVT_FEES', OTHER: 'OTHER' }[paymentPurpose] }}
              </option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_trademark">Trademark</label>
          <select
            class="form-control"
            id="field_trademark"
            data-cy="trademark"
            name="trademark"
            formControlName="trademark"
            [compareWith]="compareTrademark"
          >
            <option [ngValue]="null"></option>
            @for (trademarkOption of trademarksSharedCollection; track $index) {
              <option [ngValue]="trademarkOption">{{ trademarkOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_userProfile">User Profile</label>
          <select
            class="form-control"
            id="field_userProfile"
            data-cy="userProfile"
            name="userProfile"
            formControlName="userProfile"
            [compareWith]="compareUserProfile"
          >
            <option [ngValue]="null"></option>
            @for (userProfileOption of userProfilesSharedCollection; track $index) {
              <option [ngValue]="userProfileOption">{{ userProfileOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
