<div>
  <h2 id="page-heading" data-cy="LeadHeading">
    <span>Leads</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-lead"
        [routerLink]="['/lead/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Lead</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (leads().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Leads found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="fullName">
              <div class="d-flex">
                <span>Full Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="phoneNumber">
              <div class="d-flex">
                <span>Phone Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span>Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="city">
              <div class="d-flex">
                <span>City</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="brandName">
              <div class="d-flex">
                <span>Brand Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>

            <th scope="col" jhiSortBy="contactMethod">
              <div class="d-flex">
                <span>Contact Method</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>

            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span>Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="assignedTo.id">
              <div class="d-flex">
                <span>Assigned To</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (lead of leads(); track trackId(lead)) {
            <tr data-cy="entityTable">
              <td>
                <span data-toggle="tooltip" data-placement="bottom" title="Lead needs to be viewed">
                  <img *ngIf="lead.status == 'NEW'" src="/content/images/icons/alert-circle.svg" alt="" class="lead-warning" />
                </span>
                {{ lead.fullName }}
              </td>
              <td>{{ lead.phoneNumber }}</td>
              <td>{{ lead.email }}</td>
              <td>{{ lead.city }}</td>
              <td>{{ lead.brandName }}</td>

              <td>{{ { null: '', CALL: 'CALL', MESSAGE: 'MESSAGE', EMAIL: 'EMAIL' }[lead.contactMethod ?? 'null'] }}</td>
              <td>
                {{
                  {
                    null: '',
                    CONVERTED: 'CONVERTED',
                    NEW: 'NEW',
                    DOCUMENTS_PENDING: 'DOCUMENTS PENDING',
                    LOST: 'LOST',
                    FOLLOW_UP: 'FOLLOW UP',
                  }[lead.status ?? 'null']
                }}
              </td>
              <td>
                @if (lead.assignedTo) {
                  <div>
                    <a [routerLink]="['/employee', lead.assignedTo.id, 'view']">{{ lead.assignedTo.fullName }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/lead', lead.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/lead', lead.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(lead)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
