<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (phonetics()) {
      <div>
        <h2 data-cy="phoneticsDetailsHeading"><span>Phonetics</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ phonetics()!.id }}</span>
          </dd>
          <dt><span>Sanitized Tm</span></dt>
          <dd>
            <span>{{ phonetics()!.sanitizedTm }}</span>
          </dd>
          <dt><span>Phonetic Pk</span></dt>
          <dd>
            <span>{{ phonetics()!.phoneticPk }}</span>
          </dd>
          <dt><span>Phonetic Sk</span></dt>
          <dd>
            <span>{{ phonetics()!.phoneticSk }}</span>
          </dd>
          <dt><span>Complete</span></dt>
          <dd>
            <span>{{ phonetics()!.complete }}</span>
          </dd>
          <dt><span>Trademark</span></dt>
          <dd>
            @if (phonetics()!.trademark) {
              <div>
                <a [routerLink]="['/trademark', phonetics()!.trademark?.id, 'view']">{{ phonetics()!.trademark?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/phonetics', phonetics()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
